*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/boost
app/src/main/jni/nanosvg/nanosvg.c
app/src/main/jni/nanosvg/nanosvgrast.c
app/src/main/jni/expat/expat_config.h
app/src/main/jni/LibBGCode/binarize/export.h
app/src/main/jni/LibBGCode/core/export.h
app/src/main/jni/nlopt/nlopt_config.h
app/src/main/jni/nlopt/api/nlopt.hpp
app/src/main/jni/nlopt/api/nlopt.f
app/src/main/jni/libjpeg-turbo/jconfig.h
app/src/main/jni/libjpeg-turbo/jconfigint.h
app/src/main/jni/libjpeg-turbo/jversion.h
app/src/main/jni/openvdb/version.h
app/src/main/jni/occt_wrapper/occtwrapper_export.h
app/release/

.idea/

app/src/main/jniImports/boost/
app/src/main/jniImports/oneTBB/
app/src/main/occt/jniLibs/arm64-v8a
app/src/main/occt/jniLibs/armeabi-v7a
app/src/main/occt/jniLibs/x86
app/src/main/occt/jniLibs/x86_64
app/src/main/occt/include
app/src/main/assets/update.json
